@{
}

@model List<Book>

<h1>The Bacon Bookstore</h1>



<table class="table table-bordered">
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Publisher</td>
            <td>ISBN</td>
            <td>Category / Classification</td>
            <td>Num Pages</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Book x in Model)
        {
        <tr>
            <td>@x.Title</td>
            <td>@x.Author</td>
            <td>@x.Publisher</td>
            <td>@x.Isbn</td>
            <td>@x.Category @x.Classification</td>
            <td>@x.PageCount</td>
            <td>@x.Price</td>
        </tr>
        }
    </tbody>
</table>