@{
}

@* 
This would return only the context from the controller
@model IQueryable<Book> 
*@

@model BooksViewModel


<h1>The Bacon Bookstore</h1>

@foreach (Book x in Model.Books)
{
    <h3>@x.Title</h3>
    <ul>
        <li>Author: @x.Author</li>
        <li>Publisher: @x.Publisher</li>
        <li>ISBN: @x.Isbn</li>
        <li>Category: @x.Category @x.Classification</li>
        <li>Page Count: @x.PageCount</li>
        <li>Price: @x.Price</li>
    </ul>
}

<div page-turner="@Model.PageInfo" page-action="Index"></div>