@page
@model BaconBookstore.Pages.CartModel
@{
}

<h2>Cart</h2>

<div class="jumbotron jumbotron-fluid bg-info">
    <div class="container">
        <h1 class="display-4">@Model.basket.Items.Last().Book.Title</h1>
        <p class="lead">You successfully added @Model.basket.Items.Last().Book.Title to your cart!</p>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Price</td>
                <td>@(i.Quantity * i.Price)</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="d-grid gap-2">
    <a class="btn btn-primary btn-block" href="@Model.ReturnUrl" data-toggle="tooltip" data-placement="top" title="Back to where you left off!">Continue Shopping</a>
</div>